@font-face {
    font-family: "Trajan";
    font-weight: 400;
    src: url("../fonts/trajanProRegular/TrajanProRegular.ttf") format("truetype");
}

:root {
    --inventoryTitleSize: 30px;
    --inventoryInformationTitleSize: 25px;
    --inventoryInformationSize: 20px;
}

body {
    
    background-color: #16161a;
    color: #ffffff;
}

h1, h2, h3, h4, h5, h6, a {
    font-family: "Trajan";
}

.title1 {
    font-size: 2.5rem;
}

.title {
    font-size: 2rem;
}

.header_nav {
    margin: 2.5rem;
}


.basic_text {
    font-size: 1.5rem;
    color : #f4f2f2;
    padding: 2.5rem; 
    text-align: justify;
    margin-bottom: 1rem;
    line-height: 2rem;
    background-color: #1d1b1a;
    border: rgba(255, 162, 0, 0.899) 0.1rem inset;
    border-radius: 1rem 1rem 1rem 1rem;
    margin: 2rem; 
} 

html {
    cursor: url('cursorDefault.svg'), auto;
}

html body a:hover {
    cursor: url('cursorDefault.svg'), auto;
}

* {
    margin: 0;
    padding: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    }

/* Navigation menu */

.header_nav {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 20px;
    background-color: #000000;
    position: sticky;
    top: 0px;
    z-index: 1000;
}

.header_nav > ul {
    margin-block-start: 0px;
    list-style: none;
}

.header_nav > ul > li {
    float: left;
    width: 15%;
    text-align: center;
    position: relative;
}

.header_nav > ul::after {
    content: "";
    display: table;
    clear: both;
}

.header_nav a {
    display: block;
    text-decoration: none;
    color: white;
    border-bottom: 2px solid transparent;
    padding: 10px 0px;
}

.header_nav a:hover {
    color: #8f8e8e;
    border-bottom: 2px solid #2f2f2f;
}

.under_dir {
    display: none;
    box-shadow: 0px 1px 2px #2f2f2f;
    background-color: #202020;
    position: absolute;
    width: 100%;
}

.header_nav > ul li:hover .under_dir {
    display: block;
}

.under_dir li {
    float: none;
    width: 100%;
    text-align: left;
}

.under_dir a {
    padding: 10px;
    border-bottom: none;
}

.under_dir a:hover {
    border-bottom: none;
    background-color: rgba(40,40,40,0.1);
}

.unwrap_menu > a::after {
    font-size: 12px;
    z-index: 1000;
}

/* Menu */

.menu_body {
    background-color: #16161a;
    background-image: url("../img/menuTheme.png");
    background-repeat: no-repeat;
    background-size: 100%;
}

.menu_body section {
    position: relative;
    width: fit-content;
    top: 80px;
    margin: auto;
}

.menu_body section img {
    width: 60rem;
    margin: auto;
    padding-bottom: 20px;
}

.menu_body .game_menu {
    display: flex;
    flex-direction: column;
    font-size: 25px;
}

/* Jouer */

.game_menu_body {
    background-color: #000000;
    background-image: url("../img/menuThemeGodmaster.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
}


.game_menu_body > section h1 {
    text-align: center;
}

.game_menu_body > section img {
    display: block;
    margin: auto;
    width: 40width;
}

.game_menu_body > section {
    margin: 3.5rem;
}

.game_menu_body > section p {
    font-size: 1.5rem;
}

.game_article {
    margin: 1rem 0 15rem 0;
    display: block;
}

.game_article ul {
    margin: 1rem 0 2rem 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 10rem;
}

.game_article li {
    padding-right: 2rem ;
    

}

.game_article .game_li_img {
    margin-left: 0;
    padding-right: 2rem ;
    height: 10rem;
}

.dlc {
    height: 20rem;
}

.game_box {
    height: 20rem;
}

.game_menu_body > section .trailer {
    width: 640px;
    height: 480px; 
}

/* Inventaire général */
@media screen and (min-width: 1000px) and (min-height: 700px) {
    .inventory_title {
        --containerSize: 300px;
        width: var(--containerSize);
        left: calc(59.5rem - var(--containerSize)/2);
        display: block;
        text-align: center;
        position: relative;
        font-size: var(--inventoryTitleSize);
        top: 20px;
    }

    /* middle arrow inventory */

    .arrow_link > .left_middle_arrow {
        position: absolute;
        height: 8rem;
        width: 3.5rem;
        left: 4.5rem;
        top: 27.5rem;
    }

    .arrow_link > .right_middle_arrow {
        position: absolute;
        height: 8rem;
        width: 3.5rem;
        left: 1800px;
        top: 27.2rem;
    }
}


/* Page de charme style */
@media screen and (min-width: 1000px) and (min-height: 700px) {
    .inventory_zone {
        background-repeat: no-repeat;
        background-image: url("../menuNav/img/charmeBg.png");
        background-position-x: left;
        background-color: #000000;
    }

    .charm_section {
        position: relative;
        top: 450px;
        left: 170px;
        display: grid;
        width: fit-content;
        grid-template-columns: repeat(10, 93px);
        grid-template-rows: 1fr repeat(4, auto);
    }

    .inventory_charm {
        height: 85px;
    }

    .charm_odd {
        padding-left: 50px;
    }

    .inventory_charm:hover {
        filter: drop-shadow(0 0 0.5rem #68aafd);
    }

    .charm_section .info_charm {
        position: fixed;
        margin: 20px;
        top: 12rem;
        left: 75rem;
        height: 30rem;
        width: 30rem;
        display: none;
    }

    .charm_section a:hover + .info_charm {
        display: block;
    }

    .info_charm > h2 {
        font-size: var(--inventoryInformationTitleSize);
        text-align: center;
        padding: 0 0 20px 0;
    }

    .info_charm > img {
        display: block;
        margin: auto;
        padding: 0 0 20px 0;
        width: 120px;
    }

    .info_charm > p {
        font-size: var(--inventoryInformationSize);
        padding: 10px;
    }
}

/* Bestiaire */

@media screen and (min-width: 1000px) and (min-height: 700px) {
    .bestiaire_body {
        background-color: #000000;
        background-image: url("../menuNav/img/bestiaireBg.png");
        background-repeat: no-repeat;
    }
    .bestiaire_section::-webkit-scrollbar {
        width: 5px;
    }
    /*
    .bestiaire_section::-webkit-scrollbar-thumb {
        background:rgb(255, 255, 255); 
        border-radius: 10px;
    }
    
    .bestiaire_section::-webkit-scrollbar-thumb:hover {
        background:rgb(54, 56, 58); 
    }
    */
    .bestiaire_section {
        overflow: hidden;
        overflow-y: scroll;
    }

    .bestiaire_section .info_bestiaire_2 {
        position: fixed;
        margin: 20px;
        top: 12rem;
        left: 82rem;
        height: 30rem;
        width: 28rem;
        display: none;
        align-items: center;
        flex-direction: column;
    }

    .bestiaire_section .info_bestiaire_1 {
        display: flex;
        background: radial-gradient(closest-side, #68abfd6f, #68abfd47, #68abfd1b, #68abfd0b, transparent);
        position: fixed;
        margin: 20px;
        top: 11.5rem;
        left: 36rem;
        height: 40.5rem;
        width: 40.5rem;
        display: none;
        align-items: center;
        justify-content: center;
    }

    .bestiaire_section .info_bestiaire_1 > img {
        width: max-content;
    }

    .bestiaire_section li:hover .info_bestiaire_2 {
        display: flex;
    }

    .bestiaire_section li:hover .info_bestiaire_1 {
        display: flex;
    }

    .info_bestiaire_2 > h2 {
        font-size: var(--inventoryInformationTitleSize);
        padding: 0 0 20px 0;
    }

    .info_bestiaire_2 > img {
        padding: 0 0 20px 0;
        width: 70%;
    }

    .info_bestiaire_2 > p {
        padding: 10px;
        font-size: var(--inventoryInformationSize);
        height: 15rem;
    }
}

.bestiaire_section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    top: 80px;
    left: 160px;
    height: 750px;
    width: fit-content;
}

.bestiaire_section li {
    display: flex;
    align-items: center;
    margin: 2px 0 2px 0;
    padding: 1rem 0 1rem 2rem;
    width: 22rem;
}

.bestiaire_section li:hover {
    /* border-bottom: 2px solid white;
    border-top: 2px solid white; */
    background:
    linear-gradient(to bottom, rgba(255, 255, 255) 0% 2%,
    transparent 2% 98%,
    rgba(255, 255, 255) 98% 100%),
    linear-gradient(to right, transparent 5% 10%,
    rgba(150, 150, 150, 0.2) 30% 70%, transparent 90% 95%);
}

.bestiaire_section li:hover > img {
    transform: scale(1.2);
    transition: 0.1s;
}

.bestiaire_section > img {
    height: 5rem;
}

.bestiaire_section a {
    color: white;
    text-decoration: none;
    margin: 2rem;
}

/* Inventaire */

@media screen and (min-width: 1000px) and (min-height: 700px) {
    .inventory_section {
        background-color: #000000;
        background-image: url("../menuNav/img/inventoryBg.png");
        background-repeat: no-repeat;
    }

    /* Capacité */
    .skills {
        position: absolute;
        display: block;
        width: 32rem;
        top: 12rem;
        left: 45rem;
    }

    .skills .capacity_img {
        height: 6rem;
    }

    .skills > ul {
        width: inherit;
        display: grid;
        grid-template-columns: repeat(4, auto);
        grid-row-gap: 2rem;
        justify-items: center;
    }

    .skills a:hover {
        filter: drop-shadow(0 0 0.5rem #68aafd);
    }

    /* Sort */
    .spell {
        position: absolute;
        position: absolute;
        display: block;
        width: 9rem;
        top: 29.5rem;
        left: 27rem;
    }

    .spell .spell_img {
        width: 5.5rem;
    }

    .spell #spell_2 {
        grid-row: 1;
        grid-column: 3;
    }

    .spell #spell_3 {
        grid-row: 2;
        grid-column: 2;
    }

    .spell #spell_4 {
        margin-top: 1rem;
        grid-row: 3;
        grid-column: 2;
    }

    .spell > ul {
        width: inherit;
        display: grid;
        grid-template-columns: repeat(3, auto);
        grid-template-rows: repeat(3, auto);
        justify-content: center;
        align-content: center;
    }

    .spell > ul > li {
        justify-self: center;
        align-self: center;
    }

    .spell a:hover {
        filter: drop-shadow(0 0 0.5rem #68aafd);
    }
}

/* général */

h1 {
    font-size: 40px;
}

li {
    list-style: none;
}

.game_menu > li {
    text-align: center;
    padding: 10px;
    color: #ffffff;
}

.game_menu > li > a {
    text-decoration: none;
    color: #ffffff;

}

.game_menu > li > a:hover {
    text-shadow: 0 0 0.5rem #ffffff;
}

