@font-face {
    font-family: "Trajan";
    font-weight: 400;
    src: url("../fonts/trajanProRegular/TrajanProRegular.ttf") format("truetype");
}

body {
    
    background-color: #16161a;
    color: #ffffff;
}

.menu_body {
    background-color: #16161a;
    background-image: url("../img/menuTheme.png");
    background-repeat: no-repeat;
    background-size: 100%;
}

.game_menu_body {
    background-color: #16161a;
    background-image: url("../img/menuThemeGodmaster.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
}

html {
    font-family: "Trajan";
    cursor: url('cursorDefault.svg'), auto;
}

/* Page de charme style */

.inventory_zone {
    background-repeat: no-repeat;
    background-image: url("../menuNav/charmes/img/inventoryCharm2.png");
    background-size: auto;
    background-color: #16161a;
}

.charm_section {
    position: relative;
    top: 390px;
    left: 130px;
}

.charm_section {
    display: grid;
    grid-template-columns: repeat(10, 93px);
    grid-template-rows: 1fr repeat(4, auto);
}

.inventory_title {
    position: relative;
    left: 54.3rem;
}

.inventory_charm {
    height: 85px;
}

.inventory_charm:hover {

    filter: drop-shadow(0 0 0.5rem #ffffff);
}

.info_charm {
    position: absolute;
    top: 7rem;
    right: 5rem;
    height: 30rem;
    width: 23rem;
    display: block;
}

.inventory_charm:hover + .info_charm {
    position: absolute;
    right: 2rem;
    height: 30rem;
    width: 30rem;
    display: flex;
}

li {
    list-style: none;
}

.game_menu > li {
    text-align: center;
    padding: 10px;
    color: #ffffff;
}

.game_menu > li > a {
    text-decoration: none;
    color: #ffffff;

}

.game_menu > li > a:hover {
    text-shadow: 0 0 0.5rem #ffffff;
}



/* middle arrow inventory */

.arrow_link > .left_middle_arrow {

    position: absolute;
    height: 8rem;
    width: 3.5rem;
    left: 4.5rem;
    top: 23.8rem;
}

.arrow_link > .right_middle_arrow {

    position: absolute;
    height: 8rem;
    width: 3.5rem;
    right: 4.5rem;
    top: 23.8rem;
}

header > h1 {
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

