body {
    background-color: #16161a;
    color: #ffffff;
}

html {
    cursor: url('cursorDefault.svg'), auto;
}

a:hover {
    cursor: url('cursorHover.svg'), auto;
}

/* Page de charme style */

.inventory_zone {
    background-repeat: no-repeat;
    background-image: url("../menuNav/charmes/img/inventoryCharm2.png");
    background-size: auto;
    /*background-color: #000000;*/
}

.charm_section {
    position: relative;
    top: 390px;
    left: 160px;
}

.charm_section > table {
    text-align: center;
    border-collapse: separate;
    text-indent: initial;
}

.charm_section tr:nth-child(even) {
    position: relative;
    left: 55px;
}
.inventory_title {
    position: relative;
    left: 55rem;
}

.inventory_charm {
    border-spacing: 2px;
    height: 85px;
}

.inventory_charm:hover {
<<<<<<< HEAD
    filter: drop-shadow(0 0 0.5rem #ffffff);
}

li {
    list-style: none;
    text-decoration: none;
}

header {
    text-align: center;
}
=======
    filter: drop-shadow(0 0 1rem #4962a0);
}
>>>>>>> 8408d23c728721bf3b1ec8d1dd7b5b2a75998213
